
services:
  api:
    build: .
    container_name: greenhouse_api
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - database

  database:
    image: mysql:8.0
    container_name: greenhouse_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: example
      MYSQL_DATABASE: greenhouse_data_base
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data:
